<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buscador avanzado</title>
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/navBar.css">
    <link rel="stylesheet" href="/stylesheets/buscadoravanzado.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:400&display=swap" rel="stylesheet">
  </head>
  <body>

    <header class="header">
      <div id="main_menu">
        <div class="logo">
            <a href="/"><img src="/images/logo.png" width="50%" alt=""> </a>
        </div>
        <div class="inner_main_menu">
          <ul>
            <li><a href="/avanzado/">BUSCADOR AVANZADO</a> </li>
            <li>
              <a href="#">GENEROS</a>
              <div id="genres-list">
              </div>
            </li>
            <li class="search_bar">
              <form class="buscador" action="resultadosdelbuscador.html" method="get">
                <button class="btn"><i class="fa fa-search"></i></button>
                 <input id="buscador" type="text" name="" value="" required></form></li>


            <li><a href="/login">LOGIN</a> </li>
          </ul>
        </div>
      </div>
    </header>

<main>

  <% if (resultado.length == 0) { %>

    <h2 class="elh2">Este usuario no ha hecho ninguna reseña todavía</h2>

    <% } else { %>

      <h2 class="elh2">RESEÑAS DE <%= resultado[0].username%></h2>

  <% for(let i = 0; i < resultado.length; i++) { %>
    
    <article class="uk-comment uk-comment-primary">
      <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
              <img class="uk-comment-avatar" src="/images/avatar.png" width="80" height="80" alt="">
          </div>
          <div class="uk-width-expand">
              <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#"><%= resultado[i].username%></a></h4>
              <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                  <li>&nbsp;&nbsp;<%= resultado[i].puntaje%>&nbsp;&nbsp;<i class="fas fa-star"></i></li>
                  <li><a href="/reviews/edit/<%= resultado[i].id%>">Editar reseña</a></li>
                  <li><a href="/series/detalle?id=<%= resultado[i].idserie%>">Ir a la pelicula</a></li>
                  <li><a href="/reviews/delete/<%= resultado[i].id%>">Borrar reseña</a></li>
              </ul>
          </div>
      </header>
      <div class="uk-comment-body">
          <p><%= resultado[i].text%></p>
      </div>
  </article>

    <% } %> 
  <% } %>

</main>

  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <footer class="footer">

  <div id="low_menu2">
    <div class="logo2">
      <img width="70%" src="/images/logoTMBDblue.png" alt="">
    </div>
  <div class="nombresIntegrantes"><h5>
        Alejo Amillano | Camila Forletta </h5><h6>Copyright© 2019</h6>
      </div>
    </footer>
<script type="text/javascript" src="/javascripts/buscadoravanzado.js"></script>
<script src="/javascripts/navBar.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
<script src="https://kit.fontawesome.com/d13daeae51.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
  </body>
</html>
